
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>
<br /><br />
      
     
      <div class="container">
          <h3>Menu of Actions</h3>
          <br /><br />
                <ul class="list-group">
                    <li class="list-group-item">@Html.ActionLink("Check Users", "Index", "Users")</li>
                    <li class="list-group-item">@Html.ActionLink("Add Trainers", "Create", "Users")</li>
                    <li class="list-group-item">@Html.ActionLink("Add Customers", "CreateCustomer", "Users")</li>
                    <li class="list-group-item">@Html.ActionLink("Edit Trainer", "EditTrainer", "Users")</li>
                    <li class="list-group-item">@Html.ActionLink("Edit Customer", "EditCustomer", "Users")</li>
                    <li class="list-group-item">@Html.ActionLink("Deactivate Trainer", "DeactivateTrainer", "Users")</li>
                    <li class="list-group-item">@Html.ActionLink("Deactivate Customer", "DeactivateCustomer", "Users")</li>
                    <li class="list-group-item">@Html.ActionLink("Add Supplement", "Create", "Supplements")</li>

                </ul>
      </div>

