@model IEnumerable<Gym.Models.ApplicationUser>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserList</h2>
<br />
<br />

<div class="container">
   
    <table id="users" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Actions
                </th>
                
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
            <tr id=@item.Id>
                <td>
                    @Html.DisplayFor(modelItem => item.cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                
                    <button class="btn-link">@Html.ActionLink("Edit", "EditUser", "Users", new { id = item.Id }, new { @class = "remove_text_decoration" })</button> |
                    
                    <button class="btn-link js-delete remove_text_decoration" data-membership-id=@item.Id>Delete</button>
                
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" style="text-align:center">There are not active users yet</td>
                </tr>
            }
        </tbody>

        



    </table>

</div>

@section scripts
    {
    <script>
            $(document).ready(function () {

                $("#users").DataTable();

                $("#users").on("click", ".js-delete",function () {
                    var button = $(this);
                    var tableRow = "#" + button.attr("data-membership-id");
                    if (button.attr("data-membership-id") === "fa1859d2-9c9b-461b-94bc-9ec139759c50") {
                        bootbox.alert("This is the first administrator, it can't be deleted!")
                    } else {
                        bootbox.confirm("Are you sure you want to delete this user?", function (result) {
                            if (result) {
                                $.ajax({

                                    url: "/Users/Delete/" + button.attr("data-membership-id"),
                                    method: "POST",
                                    success: function () { $(tableRow).remove(); },
                                    error: function () { bootbox.alert("There has been an error connecting with the database"); }
                                });
                            }
                        });
                    }

                    

                });
            });
    </script>
}