
@{
    ViewBag.Title = "MenuAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Menu</h2>
<br />
<br />


<div class="container">
    <h3>Menu of Actions</h3>
    <br /><br />
          <ul class="list-group">
              <li class="list-group-item">@Html.ActionLink("Check Reserves", "GetReserve", "Reports")</li>
              <li class="list-group-item">@Html.ActionLink("View Purchases", "GetPurchase", "Reports")</li>
              <li class="list-group-item">@Html.ActionLink("View Events", "GetEvents", "Reports")</li>
              <li class="list-group-item">@Html.ActionLink("View Payments", "GetPayments", "Reports")</li>
              <li class="list-group-item">@Html.ActionLink("View Client Metrics", "ValidateClient", "Reports")</li>
              <li class="list-group-item">@Html.ActionLink("View Client Routines", "ValidateClients", "Reports")</li>
          </ul>
</div>

