@model IEnumerable<Gym.Models.Activity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var today = DateTime.Now;

    var firstMonth = "";

    var secondMonth = "";

    switch (today.Month)
    {
        case 1: firstMonth = "January";secondMonth = "February"; break;
        case 2: firstMonth = "February"; secondMonth = "March"; break;
        case 3: firstMonth = "March"; secondMonth = "April"; break;
        case 4: firstMonth = "April"; secondMonth = "May"; break;
        case 5: firstMonth = "May"; secondMonth = "June"; break;
        case 6: firstMonth = "June"; secondMonth = "July"; break;
        case 7: firstMonth = "July"; secondMonth = "August"; break;
        case 8: firstMonth = "August"; secondMonth = "September"; break;
        case 9: firstMonth = "September"; secondMonth = "October"; break;
        case 10: firstMonth = "October"; secondMonth = "November"; break;
        case 11: firstMonth = "November"; secondMonth = "December"; break;
        case 12: firstMonth = "December"; secondMonth = "January"; break;
        default:
            break;
    }
}


<div class="container">

    <div class="event-container">
        <br /><br /><br />
        <h3 class="year">@firstMonth</h3>
        @foreach (var item in Model)
        {
            var now = DateTime.Now;

            if (item.MonthNum == now.Month && item.Year == now.Year)
            {
                <div class="event">
                    <div class="event-left">
                        <div class="event-date">
                            <div class="date">
                                @item.day
                            </div>
                            <div class="month">
                                @item.Month
                            </div>
                        </div>
                    </div>
                    <div class="event-right">
                        <h3 class="event-title">@item.Description</h3>

                        <div class="event-description">
                            <p>Capacity: @item.Quantity</p>
                            <p>Price: @item.Price</p>
                            <p>Remaining Spaces: @item.Reserve</p>
                        </div>
                        <div class="event-timing">
                            <i class="fa fa-clock-o fa-2x"></i> <span style="margin-left:5px;">@item.Hour : @item.Minutes @item.Shift</span>
                                                                <span style="margin-left:7px"> @Html.ActionLink("Edit", "", "") | @Html.ActionLink("Delete", "", "") </span>
                        </div>
                    </div>
                </div>
            }
            <br />
        }

    </div>
    <br /><br /><br />
                <div class="event-container">
                    <br /><br /><br />
                    <h3 class="year">@secondMonth</h3>
                    @foreach (var item in Model)
                    {
                        var now = DateTime.Now;
                        if (now.Month != 12)
                        {
                            if (item.MonthNum == now.Month + 1 && item.Year == now.Year)
                            {
                                <div class="event">
                                    <div class="event-left">
                                        <div class="event-date">
                                            <div class="date">
                                                @now.Month
                                            </div>
                                            <div class="month">
                                                @item.Month
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event-right">
                                        <h3 class="event-title">@item.Description</h3>

                                        <div class="event-description">
                                            <p>Capacity: @item.Quantity</p>
                                            <p>Price: @item.Price</p>
                                            <p>Remaining Spaces: @item.Reserve</p>
                                        </div>
                                        <div class="event-timing">
                                            <i class="fa fa-clock-o fa-2x"></i> <span style="margin-left:5px;">@item.Hour : @item.Minutes @item.Shift</span>
                                                                                <span style="margin-left:7px"> @Html.ActionLink("Edit", "", "") | @Html.ActionLink("Delete", "", "") </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            if (item.MonthNum == 1 && item.Year == now.Year+1)
                            {
                                <div class="event">
                                    <div class="event-left">
                                        <div class="event-date">
                                            <div class="date">
                                                @now.Month
                                            </div>
                                            <div class="month">
                                                @item.Month
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event-right">
                                        <h3 class="event-title">@item.Description</h3>

                                        <div class="event-description">
                                            <p>Capacity: @item.Quantity</p>
                                            <p>Price: @item.Price</p>
                                            <p>Remaining Spaces: @item.Reserve</p>
                                        </div>
                                        <div class="event-timing">
                                            <i class="fa fa-clock-o fa-2x"></i> <span style="margin-left:5px;">@item.Hour : @item.Minutes @item.Shift</span>
                                            <span style="margin-left:7px"> @Html.ActionLink("Edit", "", "") | @Html.ActionLink("Delete", "", "") </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        <br />
                    }

                </div>
</div>

